<h1>Exchenge Component is working... </h1>

<mat-card class="example-card">
    <mat-card-header>

        <section>
            <div class="row">
                <div class="col-md-6">
                    <mat-card-title>
                        <h1>Converter</h1>
                    </mat-card-title>
                </div>
            </div>
        </section>

    </mat-card-header>

    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <label>Amount...</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">

                        <input matInput [(ngModel)]="exchangeModel.fromCurrency" name="fromCurrency"
                            [value]="exchangeModel.fromCurrency" (ngModelChange)="GetFromCurrencyValue()"
                            autocomplete="off">

                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">

                        <input matInput [(ngModel)]="exchangeModel.toCurrency" name="toCurrency"
                            (ngModelChange)="GetToCurrency()" autocomplete="off">

                    </mat-form-field>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-label>From</mat-label>
                        <mat-select [(ngModel)]="exchangeModel.fromCurrencyId" [(value)]="exchangeModel.FromDefaultId"
                            placeholder="default" name="fromCurrencyId" (selectionChange)="onFoodSelection1()">

                            @for (currency of exchangeModel.Currencies; track currency) {
                            <mat-option [value]="currency.Id">{{currency.Name}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-label>To</mat-label>
                        <mat-select [(value)]="exchangeModel.ToDefaultId" placeholder="Mode"
                            [(ngModel)]="exchangeModel.toCurrencyId" name="toCurrencyId"
                            (selectionChange)="onFoodSelection2()">

                            @for (currency of exchangeModel.Currencies; track currency) {
                            <mat-option [value]="currency.Id">{{currency.Name}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>

    </mat-card-content>


</mat-card>