<h1>Convert Component is working !!! Mihai</h1>

<mat-card class="example-card">
    <mat-card-header>

        <section>
            <div class="row">
                <div class="col-md-6">
                    <mat-card-title>
                        <h1>Converter</h1>
                    </mat-card-title>
                </div>
            </div>
        </section>

    </mat-card-header>

    <mat-card-content>

        <form>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-label>Current</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-label>Current</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">
                    <label>Currency</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-select formControlName="currencyFrom">
                            @for (currency of currencyRates; track currency) {
                            <mat-option [value]="currency.CurrencyRate">{{currency.CurrencyName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="mat-100-percent">
                        <mat-select formControlName="currencyTo">
                            @for (currency of currencyRates; track currency) {
                            <mat-option [value]="currency.CurrencyRate">{{currency.CurrencyName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button mat-raised-button color="accent" (click)="TestClick()">Accent Test</button>
                </div>
            </div>

        </form>

    </mat-card-content>


</mat-card>